    <section class="row">
      <div class="col">
        <h1>About me</h1>
      </div>
      <div class="col col-8">
        <span>Former Lean and Six-Sigma Green Belt process manager turned AWS Solutions Architect Software Engineer.
          <br>
          <br>
          I started out learning on my on my own and eventually invested my time in a software engineer bootcamp.
          <br>
          <br>
          Coming from hacking through solutions to now practicing SOLID programming principles and thoughtful design patterns has been a rewarding experience.
          <br>
          <br>
          I'm Currently looking for a new and challenging position within the software development industry. One which will make best use of my skills and experience while
          enabling further personal and professional development.
        </span>
      </div>
    </section>

    <section class="row">
      <div class="col">
          <h1>
            Career Experience</h1>
      </div>
      <div class="col col-8">
        <h5 class="row">Capital One</h5>
        <span class="row">Software Engineer</span>
        <hr>
        <span class="row">Risk Specialist Data Analyst</span>
        <hr>
        <span class="row">Process Manager</span>
      </div>
    </section>

    <section class="row">
        <div class="col">
            <h1>
              Tech Experience</h1>
        </div>
        <div class="col col-8">
          <h5 class="row">Software Engineering</h5>
          <span class="row">Agile team environments</span>
          <hr>
          <span class="row">Code reviews and versioning with Git and Github</span>
          <hr>
          <span class="row">Application state management following Redux principles</span>
          <hr>
          <span class="row">Reactive programming using ReactiveX and Kafka messaging</span>
          <hr>
          <span class="row">Angular 6 single page applications</span>
          <hr>
          <span class="row">Java Spring Restful APIs</span>
          <hr>
          <span class="row">Cucumber, Karma, Jasmine, and Mockito automated testing</span>
          <hr>
          <span class="row">Extract, transfer, and load data processes with Python</span>
          <hr>
          <span class="row">Data persistence with NoSQL and Relational Databases</span>
          <hr>
          <br>
          <br>
            <h5 class="row">DevOps</h5>
            <span class="row">Jenkins jobs for code deployments</span>
            <hr>
            <span class="row">Ansible playbooks for parametized automated CICD steps</span>
            <hr>
            <span class="row">Pact-Broker for consumer driven contractual deployments</span>
            <hr>
            <span class="row">Deploying to Scalable and Resilient AWS Cloud infrastructure</span>
            <hr>
            </div>
      </section>