https://codepen.io/MiroslavDina/pen/rqLpPa

http://www.davidemarucci.com/
    
    <section class="row">
      <div class="col">
        <h1>About me</h1>
      </div>
      <div class="col col-8">
        <span>Former Lean and Six-Sigma Green Belt process manager turned AWS Solutions Architect Software Engineer.
          <br>
          <br>
          I started out learning on my on my own and eventually invested my time with a software engineer bootcamp.
          <br>
          <br>
          Coming from hacking through solutions to now practicing SOLID programming principles and thoughtful design patterns has been a great return on my investment.
          <br>
          <br>
          I'm Currently looking for a new and challenging position within the software development industry. One which will make best use of existing skills and experience acquired while
          enabling further personal and professional development.
        </span>
      </div>
    </section>

    <section class="row">
      <div class="col">
          <h1>Career Experience</h1>
      </div>
      <div class="col col-8">
        <h5 class="row">Capital One</h5>
        <span class="row">Software Engineer</span>
        <hr>
        <span class="row">Risk Specialist</span>
        <hr>
        <span class="row">Process Manager</span>
      </div>
    </section>